[ingrid=mk-1] {
    width: 8.33333%; 
}
[ingrid=mk-10] {
    width: 83.33333%; 
}
[ingrid=mk-2] {
    width: 16.66667%; 
}

.obj-olympic--result__description {
    color: #495053;
    font-size: 2.85em;
    line-height: 1em;
    display: block;
    font-weight: 500;
    padding: 0;
    margin: 15px 0 5px;
    display: block;
}
.obj-olympic--header__title,
.obj-olympic--result__title,
.obj-olympic--progress__title {
    color: #495053;
    font-size: 1.8em;
    line-height: 1.3em;
    font-weight: 500;
    padding: 0;
    margin: 14px 0 5px;
    display: block;
    text-transform: uppercase;
}

.obj-olympic--header__badge {
    font-size: var(--mipt-font-size-base-plus);
    line-height: 1.5em;
    font-weight: 500;
    color: #495053;
    background-color: #EBEDEE;
    display: inline-block;
    width: auto;
    border-radius: 4px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.obj-olympic--header__separator {
    color: #a1abb0;
    border-bottom: 2px solid;
    margin: 1em 0 1em 0;
    padding: 0 0 0 0;
    height: 0;
    display: inline-block;
}
.obj-olympic--header__separator {
    border-bottom-width: 5px;
    margin: 1em 0 1em 0;
}
.obj-olympic--header__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
  
.obj-olympic--header__col {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.obj-olympic--header__base-info,
.obj-olympic--footer__flex {
    display: flex;
}
.obj-olympic--footer__flex {
    align-items: center;
}
.obj-olympic--header__base-info {
    justify-content: space-between;
}
.obj-olympic--footer__flex {
    justify-content: space-between;
}
.obj-olympic--header__base-info{
    flex-wrap: wrap;
}

.obj-olympic--header__base-info.vertical
{
    flex-direction: column;
}

.obj-olympic--header__base-info.vertical .obj-olympic--header__base-info-item:nth-child(2)
{
    margin-right: 0.5em;
    margin-left: 0;
}

.obj-olympic--header__base-info.vertical .obj-olympic--header__base-info-item:nth-child(1) {
    padding-top: 0.3em;
    order: 10;
    text-align: right;
}

.obj-olympic--wrapper p+p
{
    margin-top: 0.3em;
}

.obj-olympic--header__base-info.vertical .obj-olympic--header__badge
{
    padding: 0.2em 0;
}

.obj-olympic--header__base-info.vertical .obj-olympic--header__base-info-item > span:first-child
{
    display: inline-block;
    min-width: 15em;
}
@media (max-width: 961px) {
    .obj-olympic--footer__flex{
        flex-wrap: wrap;
        justify-content: center;
    }
    .obj-olympic--footer__badge
    {
        flex-grow: 1;
    }
    .mobile_device_notice
    {
        font-size: 0.8em;
        color: darkred;
    }
}
.obj-olympic--wrapper {
    width: 100%;
    margin-bottom: 1.5em;
}
.obj-olympic--wrapper__inner {
    background-color: #FFF;
    border-radius: 0;
    border: 1px solid #DDD;
    padding: 20px 20px;
}
.obj-olympic--wrapper__header {
    margin-bottom: 1.5em;
    background-color: transparent;
    border: 1px dashed #DDD;
}
.obj-olympic--wrapper__footer {
    border-top: 0.35em solid #cccccc;
    padding-top: 10px;
    margin-top: 3em;
}
.obj-olympic--header__row {
    margin: 0 0;
}
.obj-olympic--header__col {
    padding: 0 0px;
}
.obj-olympic--header__col._text {
    padding-left: 1.28em;
}
.obj-olympic--header__avatar {
    max-width: 100% !important;
    width: auto !important;
    height: auto;
    min-width: 0;
}
.obj-olympic--header__title {
    margin-top: 1.28em;
    margin-bottom: 0.4em;
    margin-right: 0.75em;
    display: flex;
    align-items: baseline;
    width: 100%;
}
.obj-olympic--header__title > :first-child{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.obj-olympic--header__subtitle {
    font-size: 0.7em; text-transform: none; line-height: 1em;
}
.obj-olympic--header__base-info-item {
    font-size: var(--mipt-font-size-base-minus);
    color: gray;
    margin-right: 0.75em;
}
.obj-olympic--header__badge {
    background-color: #FFF;
    color: #1a1a1a;
}
.obj-olympic--header__badge .fa {
    margin-right: 4px;
    margin-left: 1px;
}
.obj-olympic--header__badge._status {
    color: #1d84cc;
    background-color: #FFF;
    border: 1px dotted #FFF;
    border-radius: 0;
}
.obj-olympic--header__badge._status:hover {
    border: 1px dotted #DDD;
    background-color: #3da4dd;
    color: #FFF;
}
.obj-olympic--header__description {
    font-size: var(--mipt-font-size-base-plus);
    color: #1a1a1a;
    padding-bottom: 15px;
    padding-right: 15px;
}
.obj-olympic--result {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.obj-olympic--result:before {
    content: '';
    width: 210px;
    height: 4px;
    background-color: #cccccc;
    position: absolute;
    left: -253px;
    top: 2.86em;
    z-index: 0;
    opacity: 0;
}
.obj-olympic--result:after {
    content: '';
    width: 210px;
    height: 4px;
    background-color: #cccccc;
    position: absolute;
    right: -253px;
    top: 2.86em;
    z-index: 0;
    opacity: 0;
}
.obj-olympic--result__title {
    font-size: var(--mipt-font-size-stronger);
    text-align: center;
    margin-top: 0;
}
.obj-olympic--result__description {
    font-weight: 600;
    text-align: center;
    margin-top: 0;
}
.obj-olympic--checklist__table {
    min-width: 400px;
    width: 70%;
    margin: 0 auto;
}
.obj-olympic--checklist__table thead {
    margin-bottom: 10px;
}
.obj-olympic--checklist__table thead td {
    padding: 5px 0 15px;
    border-bottom: 2px solid #cccccc;
    font-size: var(--mipt-font-size-base-plus);
    font-weight: 600;
    text-align: center;
    color: #1a1a1a;
}
.obj-olympic--checklist__table tbody td:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
.obj-olympic--checklist__table tbody td {
    padding: 5px 0 7px;
    text-align: center;
    border-bottom: 1px dashed #cccccc;
}
.obj-olympic--checklist__table tbody td:first-child {
    font-size: var(--mipt-font-size-base-plus);
    color: #666666;
}
.obj-olympic--checklist__table tbody td.points {
    font-size: var(--mipt-font-size-stronger);
    color: #333333;
}
.obj-olympic--checklist__table tbody .fa {
    padding-left: 7px;
}
.obj-olympic--checklist__table tbody .fa.fa-check {
    color: #6ab78a;
}
.obj-olympic--checklist__table tbody .fa.fa-close {
    color: #df764e;
}
.obj-olympic--checklist__table tbody .fa.fa-minus {
    color: #2d75a8;
}
.obj-olympic--diplom {
    text-align: center;
    font-size: 1.65em;
    margin-top: 1.88em;
}
.obj-olympic--diplom .button_link {
    margin-bottom: 0.5em;
    font-size: var(--mipt-font-size-stronger);
    padding: 0.8em 1.25em;
    display: inline-block;
}
.obj-olympic--progress {
    width: 67%;
    margin: 0 auto;
}
.obj-olympic--progress__title {
    display: block;
    font-family: "arial", "Georgia";
    color: #333333;
    text-align: center;
    margin-top: 1.875em;
    margin-bottom: 1.125em;
}
.obj-olympic--progress__bar {
    background-color: #e6e6e6;
    width: 100%;
    height: var(--mipt-font-size-stronger);
    border-radius: 2px;
    overflow: hidden;
}
.obj-olympic--progress__allcheck {
    background-color: #3386C0;
    height: var(--mipt-font-size-stronger);
}
.obj-olympic--progress__success {
    background-color: #6ab78a;
    height: var(--mipt-font-size-stronger);
}
.obj-olympic--footer__flex {
    margin-top: 0.75em;
}
.obj-olympic--footer__badge {
    font-size: calc(var(--mipt-font-size-subheader) + 2px);
    font-weight: 300;
    margin-right: auto;
}
a+.obj-olympic--footer__badge, button+.obj-olympic--footer__badge{
    margin-left: var(--mipt-font-size-subheader);
}
.obj-olympic--footer__link {
    font-size: calc(var(--mipt-font-size-subheader) - 2px);
    color: #3386C0;
    margin: 0 0 0 var(--mipt-font-size-subheader);
}

.obj-olympic--footer__link:not(.button_link) .fa
{
    font-size: 1.5em;
}
.obj-olympic--footer__link img
{
    width: 1.5em;
    height:1.5em;
}
.obj-olympic--footer__link:not(.button_link) .fa, .obj-olympic--footer__link img
{
    opacity: 0.5;
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.obj-olympic--footer__link:not(.button_link):hover .fa, .obj-olympic--footer__link:hover img
{
    opacity: 1;
}


.obj-olympic--wrapper__content
{
    overflow: hidden;
}

.obj-olympic--wrapper.extended > .obj-olympic--wrapper__inner > .obj-olympic--wrapper__header
{
    background-color: #fffcf1;
}

.obj-olympic--wrapper.extended > .obj-olympic--wrapper__inner
{
    background-color: #FFFCF1;
}

.obj-olympic--wrapper.extended > .obj-olympic--wrapper__inner > .obj-olympic--wrapper__header
{
    background-color: #fffef1;
}


.obj-olympic--wrapper .point_separation_label
{
    color: #777;
}

.obj-olympic--wrapper .point_separation_point
{

}

.obj-olympic--wrapper .point_separation_weight
{
    color: #888;
    font-weight: bold;
}

.obj-olympic--wrapper tr.no_bottom_border td, .obj-olympic--wrapper tr.no_bottom_border
{
    border-bottom-width: 0;
}

@media (max-width: 750px)
{
    .obj-olympic--wrapper
    {
        flex-direction: column;
    }

    .olympic_side
    {
        width: auto !important;
        min-width: auto !important;
    }
}


h4.olympic_parent
{
    border: 1px solid #2B2B2B;
    background-color: white;
    color: black;

    padding: 0.5em;
    display: block;
    font-size: 1.5em;
    border-radius: 0.5em;
}

h4.olympic_parent > a:not(.fa)
{
    color: black;
}
h4.olympic_parent > a:not(.fa):hover
{
    color: var(--mipt-color-link-hover);
}
[data-action="expand_olympics_of_parent"]
{
    transition: var(--transition-default-short);
}
[data-action="expand_olympics_of_parent"].expanded
{
    transform: rotate(180deg);
}
[data-role="olympic-group"] {
    background-color: var(--mipt-color-bg-light);
}