[off-canvas]
{
    background-color: var(--mipt-sidebar-bg);
    color: var(--mipt-sidebar-text);
}
#zftsh-slidebar
{
    display: flex !important;
    flex-direction: column;
    min-height: 100%;
    min-width: 276px;
}
.tabs_alt > ul > li
{
    padding: 0 9px;
}

.zftsh-prfile-tabs.tabs_alt > ul > li {position: relative;}
.zftsh-prfile-tabs .counters {
    position: absolute;
    top: -2px;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-default-middle);
}
.zftsh-prfile-tabs .counters>span {
    cursor: pointer;
    transition: var(--transition-default-middle);
    padding: 0 2px;
}
.zftsh-prfile-tabs .counters>span::after {
    background: rgba(116, 181, 255, .8);
    border-radius: 8px 8px 8px 0px;
    color: #ffffff;
    width: max-content;
    content: attr(data-tooltip);
    margin-top: -20px;
    padding: 3px 7px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-default-short);
    word-wrap: normal;
}
.zftsh-prfile-tabs .counters>span:hover::after {opacity: 1;visibility: visible;}
.zftsh-prfile-tabs .counters>span{color:#8888886e;}
.zftsh-prfile-tabs .counters>span.purple:hover{color: rgba(122, 73, 170, .9);}
.zftsh-prfile-tabs .counters>span.purple::after {background: rgba(122, 73, 170, .7);}
.zftsh-prfile-tabs .counters>span.red:hover{color: rgba(205, 28, 73, .9);}
.zftsh-prfile-tabs .counters>span.red::after {background: rgba(205, 28, 73, .7);}
.zftsh-prfile-tabs .counters>span.orange:hover{color: rgba(196, 114, 32, .9);}
.zftsh-prfile-tabs .counters>span.orange::after {background: rgba(196, 114, 32, .7);}
.zftsh-prfile-tabs .counters>span.blue:hover {color: rgba(23,126,218, .9);}
.zftsh-prfile-tabs .counters>span.blue::after {background:rgba(23,126,218, .7);}
/*.zftsh-prfile-tabs .counters>span:hover {color:#33bb66;}*/

@media (max-width: 760px)  {
    #zftsh-slidebar
    {
        width: 100%;
    }
}
#zftsh-slidebar > *
{
    flex-shrink: 0;
}
#zftsh-slidebar a
{
    color: var(--mipt-sidebar-text);
    font-size: 16px;
}
#zftsh-slidebar a:not(.fa)
{
    font-family: Roboto;
}

#zftsh-slidebar a:hover, #zftsh-slidebar a.hover
{
    color: var(--mipt-sidebar-link-hover);
}

#zftsh-slidebar > .user, #zftsh-slidebar-user
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: var(--mipt-sidebar-header-bg);
}
#zftsh-slidebar > .user a, #zftsh-slidebar-user a
{
    color: var(--mipt-sidebar-header-text);
}

#zftsh-slidebar .userhref
{
    font-size: 17px;
}

#zftsh-slidebar > .user > .username , #zftsh-slidebar-user > .username
{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#zftsh-slidebar > .user  .avatar, #zftsh-slidebar-user .avatar
{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#zftsh-slidebar #sidebar-closer
{
    opacity: 0.7;
    font-size: 40px;
    transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
    padding: 0 10px;
    transform: scale(0.2, 1);
    text-decoration: none;
}
#zftsh-slidebar #sidebar-closer:hover
{
    opacity: 1;
    transform: scale(0.6, 1);
}
#zftsh-slidebar .member-code
{
    font-size: 16px;
    opacity: 0.7;
}

#zftsh-slidebar  .header_hor_container
{
    background-color: var(--mipt-sidebar-bg);
}

#zftsh-slidebar .subheader
{
    background: var(--mipt-sidebar-bg-stronger);
    padding-left: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
}

#zftsh-slidebar .subheader.searchable
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#zftsh-slidebar .subheader.searchable > .fa-search
{
    margin-right: 15px;
    opacity: 0.75;
}
#zftsh-slidebar .subheader.academy-group
{
    font-size: 13px;
    text-transform: none;
    padding-left: 10px;

    display: flex;
    align-items: center;
    justify-content: stretch;
}
#zftsh-slidebar .expander
{
    margin-left: 1em;
    padding-bottom: 0.15em;
    transition: var(--transition-default-short);
}
#zftsh-slidebar .expander:not(.expanded)
{
    transform: rotate(180deg);
}

#zftsh-slidebar .elective-header > *
{
    display: block;
    font-weight: bold;
    color: white;
    font-size: 14px;
    text-transform: none;
    padding: 10px 5px 10px 10px;
    margin-bottom: 10px;
    background:rgba(var(--mipt-sidebar-btn-col),0.85);
    transition: var(--transition-default-short);
}
#zftsh-slidebar .elective-header > a:hover
{
    color: white;
    background:rgba(var(--mipt-sidebar-btn-col),1);
}
#zftsh-slidebar  .academy
{
    padding: 15px 25px;
    font-size: 14px;
    border-top: 1px solid var(--mipt-sidebar-separator);
    border-bottom: 1px solid var(--mipt-sidebar-separator-light);

    display: flex;
    align-items: center;
    justify-content: stretch;
}
#zftsh-slidebar  .academy:after
{
    content: '';clear: both;display: block;
}
#zftsh-slidebar .academy-payment-status-wrp{text-align: center;margin: 10px;}
#zftsh-slidebar .academy-payment-status-wrp .date-hint { font-size: 0.7em; line-height: 1em;}
#zftsh-slidebar .ui-el__btn.academy-payment-status {color: white; font-size: 11px; padding: 8px 15px; margin: 0.2em; display: inline-block;}
#zftsh-slidebar .ui-el__btn.academy-payment-status + .academy-payment-status{margin-top: 5px;}
#zftsh-slidebar .academy .academy-unpaid {color: #e2744f}
#zftsh-slidebar .pay-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
#zftsh-slidebar .pay-button-wrapper [data-action="cancel-academy-payment"]
{
    margin-left: 0.25em;
    color: #df764e;
    opacity: 0.5;
    transition: var(--transition-default-short);
}
#zftsh-slidebar .pay-button-wrapper [data-action="cancel-academy-payment"]:hover
{
    opacity: 1;
}
#zftsh-slidebar  .notice
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#zftsh-slidebar  .notice > li
{
    margin-right: 5px;
}

#zftsh-slidebar .notice li a {
    color: rgba(var(--mipt-sidebar-btn-col),0.85);
    font-size: 30px;
    white-space: nowrap;
}
#zftsh-slidebar .notice li a:hover
{
    color: rgba(var(--mipt-sidebar-btn-col),1);
}

#zftsh-slidebar  .notice > li.calendar_opener a
{
    font-size: 16px;
}

#zftsh-slidebar  .notice [data-counter]
{
    background: rgba(var(--mipt-sidebar-btn-counter-col),0.85) none repeat scroll 0 0;
    border-radius: 5px;
    color: var(--mipt-sidebar-header-text);
    font-size: 12px;
    line-height: 16px;
    padding: 2px;
    position: absolute;
    text-align: center;
    min-width: 20px;
}
#zftsh-slidebar  .notice a:hover [data-counter]
{
    background: rgba(var(--mipt-sidebar-btn-counter-col),1);
}
#zftsh-slidebar  .notice [data-counter="0"]
{
    display: none;
}

#zftsh-slidebar  .notice > li.sidebar_activity
{
    padding-right: 5px;
}
#zftsh-slidebar  .notice > li.sidebar_activity [data-counter]
{
    margin-left: -8px;
}

#zftsh-slidebar  .course
{
    padding: 15px 0;
    padding-left: 40px;
    border-bottom: 1px solid var(--mipt-sidebar-separator-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
#zftsh-slidebar .subheader  + .academy
{
    border-top: 0;
}

#zftsh-slidebar .academy + .course
{
    border-bottom: 0;
}
#zftsh-slidebar .ui-widget__col._img
{
    background-position: top !important;
}
#zftsh-slidebar .ui-widget__col._img .on-air {
	position: absolute; top: 20px; right: 20px; color: white; padding: 5px 13px 5px 28px; background: #e2744f;
	display: block; line-height: 15px; border-radius: 10px;
}
#zftsh-slidebar .ui-widget__col._img .on-air:after {
	position: absolute; top: 5px; left: 8px; width: 14px; height: 14px; border-radius: 8px; background: white;
	display: inline-block; content: ''; 
	
}

#zftsh-slidebar  .course .course-link
{
    font-size: 13px;
}

#zftsh-slidebar  .course .title_code
{
    font-size: 16px;
}
#zftsh-slidebar  .course .title_code > ._badge
{
    float: right;
}



#zftsh-slidebar  .course .course-avatar
{
    padding-right: 15px;
}

#zftsh-slidebar  .course .course-avatar > img
{
    width: auto;
    height: auto;
}

#zftsh-slidebar .courses--fulltime {display: flex; flex-wrap: wrap; padding: 10px 15px 10px 25px; gap: 10px; justify-content: center;}
#zftsh-slidebar .courses--fulltime .course{   display: flex;
    flex-direction: column-reverse;
    align-items: center;justify-content: center;
    gap: 4px;
    padding: 6px 8px 4px 8px;
    background: #e2e2e2;
    border: none;
    border-radius: 2px;}
#zftsh-slidebar .courses--fulltime .course .title,
#zftsh-slidebar .courses--fulltime .course .title,
#zftsh-slidebar .courses--fulltime .course ._badge,
#zftsh-slidebar .courses--fulltime .course .learninfo_stat{display: none}
#zftsh-slidebar .courses--fulltime .course .course-avatar{padding: 0}


#zftsh-slidebar .list_expander i.fa{
	-webkit-transition: -webkit-transform 400ms ease;
	transition: -webkit-transform 400ms ease;
	-o-transition: transform 400ms ease;
	transition: transform 400ms ease;
	transition: transform 400ms ease, -webkit-transform 400ms ease;
}
#zftsh-slidebar .list_expander.opened i.fa{
	-webkit-transform: rotate(-180deg);
	    -ms-transform: rotate(-180deg);
	        transform: rotate(-180deg);
}

#zftsh-slidebar  .zftsh_admin_actions, #zftsh-slidebar .links_container{
    width: 100%;
}
#zftsh-slidebar .links_container > div:first-child a:not(.simple)
{
    border-top: 1px solid var(--mipt-sidebar-separator);
}
#zftsh-slidebar  .zftsh_admin_actions a:not(.simple), #zftsh-slidebar .links_container a:not(.simple){
    display: block;
    padding: 10px;
    text-align: left;
    color: var(--mipt-sidebar-text);
    text-transform: none;
    border-radius: 0;
    background: transparent;
    -webkit-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    transition: color 200ms ease;
    border-bottom: 1px solid var(--mipt-sidebar-separator);
}
#zftsh-slidebar  .zftsh_admin_actions a:not(.simple):hover, #zftsh-slidebar .links_container a:not(.simple):hover{
	color: var(--mipt-sidebar-link-hover);
}
#zftsh-slidebar  .zftsh_admin_actions a:not(.simple):active, #zftsh-slidebar .links_container a:not(.simple):active{
	-webkit-transform: translate(-1px, 1px);
	    -ms-transform: translate(-1px, 1px);
	        transform: translate(-1px, 1px);
}


#zftsh-slidebar  .zftsh_admin_actions a:not(.simple) i.fa, #zftsh-slidebar .links_container a:not(.simple) i.fa{
    width: 40px; text-align: center;
}

#zftsh-slidebar .sidebar-lectures-header {position: relative; padding-right: 37px}
#zftsh-slidebar .sidebar-lectures-header .sidebar-lectures-minimizer {
	position: absolute;
    right: 7px;
    top: 14px;
    line-height: 25px;
    width: 25px;
    text-align: center;
	-webkit-transition: -webkit-transform 400ms ease;
	transition: -webkit-transform 400ms ease;
	-o-transition: transform 400ms ease;
	transition: transform 400ms ease;
	transition: transform 400ms ease, -webkit-transform 400ms ease;
}

#zftsh-slidebar .sidebar-lectures-header .sidebar-lectures-minimizer.opened{-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);}


#zftsh-slidebar .learninfo_stat
{
    min-width: 130px;
}

#zftsh-slidebar .learninfo_stat td
{
    padding: 2px 5px;
    vertical-align: middle;
}
#zftsh-slidebar .learninfo_stat *
{
    transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

#zftsh-slidebar .learninfo_stat td:first-child .fa
{
    font-size: 16px;
    color: var(--mipt-sidebar-text);
    opacity: 0.4;
}
#zftsh-slidebar .learninfo_stat tr:hover td:first-child .fa
{
    color: #FFF;
}
#zftsh-slidebar .learninfo_stat tr:hover td a
{
    color: #FFF;
}
#zftsh-slidebar .learninfo_stat tr
{
    background-color: rgba(38, 52, 65, 0);
}
#zftsh-slidebar .learninfo_stat tr:hover
{
    background-color: rgba(38, 52, 65, 0.3);
}
#zftsh-slidebar .learninfo_stat tr:hover td:first-child .fa
{
    opacity: 1;
}

#zftsh-slidebar td.base, #zftsh-slidebar td.ext, #zftsh-slidebar td.all
{
    cursor: pointer;
    min-width: 30px;
    text-align: center;
}


#zftsh-slidebar td.base
{
    background-color: rgba(85, 173, 122, 0.05);
}
#zftsh-slidebar td.base:hover
{
    background-color: rgba(85, 173, 122, 0.4);
}


#zftsh-slidebar td.base > a
{
    opacity: 0.5;
}



#zftsh-slidebar td.ext
{
    background-color: rgba(218, 98, 52, 0.05);
}
#zftsh-slidebar td.ext:hover
{
    background-color: rgba(218, 98, 52, 0.4);
}

#zftsh-slidebar td.ext > a
{
    opacity: 0.7;
}

#zftsh-slidebar td.all
{
    background-color: rgba(29, 132, 204, 0.05);
}
#zftsh-slidebar td.all:hover
{
    background-color: rgba(29, 132, 204, 0.4);
}

#zftsh-slidebar td.all > a
{
    opacity: 0.3;
}

#zftsh-slidebar td:hover > a
{
    opacity: 1;
}



#zftsh-slidebar td[data-value="-"] > a
{
    opacity: 0.5;
    color: #999;
}

#nearest-calendar-wrapper
{
    text-align: center;
}
#nearest-calendar-wrapper > .fa
{
    font-size: 32px;
    color: #EEE;
}

#sidebar_footer
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#sidebar_footer .footer-inner
{
    background: var(--mipt-sidebar-bg);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sidebar_footer .footer-inner .fa
{
    font-size: 32px;
    opacity: 0.75;
}
#sidebar_footer .footer-inner .fa:hover
{
    opacity: 1;
}
#main_menu
{
    padding: 15px 40px;
    background-color: #FFF;
    border-bottom: 1px solid #dddfe0;
}

#menu_wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#main_menu > div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sidebar-toggler
{
    font-size: 32px;
    color: var(--mipt-sidebar-text);
    transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
    display: inline-block;
    width: 30px;
    overflow: hidden;
}
#sidebar-toggler:hover
{
    color: var(--mipt-sidebar-link-hover);
}
#main_menu.sidebar_opened  a.fa-bars , #sidebar-toggler.sidebar_opened
{
    width: 0;
}


#main_avatar_place
{
    display: flex;
    align-items: center
}
#main_avatar_place > span
{
    padding-left: 32px;
    font-size: 32px;
    color: #555;
    display: inline-block;
    transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
    overflow: hidden;
    width: 125px;
}
@media (max-width: 1200px) {
    #main_avatar_place > span
    {
        width: 0;
    }
}
#main_avatar_place:hover > span
{
    color: #222;
    width: 125px;
}

#zftsh-slidebar .timeline-date{
    padding: 6px 25px 4px;
    font-size: 14px;
    margin-bottom: 5px;
    border-top: 1px solid var(--mipt-sidebar-separator);
    border-bottom: 1px solid var(--mipt-sidebar-separator-light);
}
#zftsh-slidebar .timeline-lesson{
    padding: 5px 15px 5px 25px;
    font-size: 14px;
    margin-bottom: 5px;
}
#zftsh-slidebar .timeline-theme{
    font-weight: bold;
    background: #dfdfdf;
    padding: 0;
    width: 25px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
}
#zftsh-slidebar .timeline-theme[data-theme="phys"]{
    background-color: #3e952d88;
}
#zftsh-slidebar .timeline-theme[data-theme="math"]{
    background-color: #3d79c888;
}
#zftsh-slidebar .timeline-theme[data-theme="inf"]{
    background-color: #ee442c88;
}
#zftsh-slidebar .timeline-theme[data-theme="chem"]{
    background-color: #9f3dc888;
}

#zftsh-slidebar .timeline-time{font-size: 0.9em; margin-left: 5px}
#zftsh-slidebar .subheader+.timeline-date{border-top: none}
#zftsh-slidebar .timeline-lesson+.timeline-date{margin-top: 5px}
#zftsh-slidebar .header_hor_container .fa{float: right; margin-top: 2.5px; padding: 0 5px}
#zftsh-slidebar .member-code .fa{float: right;}


#zftsh-slidebar .title ._badge
{
    font-size: 0.8em;
    transform: translateY(-1em);
    padding: 0.3em;
    line-height: 1em;
}

@media print {
    #zftsh-slidebar
    {
        display: none !important;
    }
    #main_menu
    {
        display: none;
    }
    #global_wrapper
    {
        margin-right: 0 !important;
    }
}