@charset "utf-8";

:root {
    --mipt-color-link: #1d84cc;
    --mipt-color-link-col: 29,132,204;

    --mipt-sidebar-header-bg: #888;
    --mipt-sidebar-header-text: #FFF;

    --mipt-sidebar-bg: #eee;
    --mipt-sidebar-bg-stronger: #ddd;
    --mipt-sidebar-text: #666;
    --mipt-sidebar-link-hover: #888;

    --mipt-sidebar-separator: #ccc;
    --mipt-sidebar-separator-light: #ddd;

    --mipt-sidebar-btn-col: 90,167,106;
    --mipt-sidebar-btn-counter-col: 210,100,63;
}

/* ultraHD */
@media (min-width: 1921px) {
    :root
    {
        --content-max-width: calc(940px + (40vw - 768px) );
        --mipt-font-size-base: calc(13.33px + (0.7vw - 13.33px)/2);
    }
}

@font-face {
    font-family: "raleway";
    src: url("/application/themes/clean/fonts/raleway/ralewaylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url("/application/themes/clean/fonts/raleway/ralewaymedium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url("/application/themes/clean/fonts/raleway/ralewayregular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "raleway";
    src: url("/application/themes/clean/fonts/raleway/ralewaybold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
body, html {
    font-family: "raleway", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-style: normal;
    scroll-behavior: smooth;
}


/*END: moved from compile*/
.layout_user_profile_fields {
    background: white;
    border-radius: 4px;
    border-bottom: 3px solid #3386C0;
    padding: 20px 20px;
    min-height: 370px; }
.layout_user_profile_fields .profile_part_edit .profile_part_edit_a {
    background-color: #6ab78a;
    color: white;
    padding: 2px 5px; }
.layout_user_profile_fields .cadastre-common-row {
    width: 50%;
    padding-right: 30px; }
.layout_user_profile_fields .cadastre-management {
    text-align: center;
    width: 45%; }
.layout_user_profile_fields .cadastre-scores {
    font-size: 32px;
    color: #333333;
    font-family: "arial", "Georgia";
    padding-top: 11px;
    display: inline-block; }
.layout_user_profile_fields .cadastre-management button {
    border-radius: 4px;
    background-color: #3386C0;
    color: white; }
.layout_user_profile_fields .cadastre-widjet {
    border: none; }
.layout_user_profile_fields .profile_fields > ul {
    margin-bottom: 10px; }
.layout_user_profile_fields .profile_fields > ul > li {
    border-bottom: none; }
.layout_user_profile_fields .profile_fields > ul > li > span {
    font-size: var(--mipt-font-size-base-plus); }
/*END: moved from compile*/





.g-container
{
    max-width:960px;
}
.obj-header.zftsh
{
    background-repeat: no-repeat;
    background-position:  0 15px;
    position:relative;
    z-index: 1000;
}

a {
	color: #3386C0
}

a:active, a:hover {
	color: #2A70A0
}

h3+p, p+p {
	margin-top: 6px
}

.upper-text {
	text-transform: uppercase
}


#TB_window, #TB_iframeContent
{
    border-radius: 10px;
}
#TB_ajaxContent, #smoothbox_window
{
    box-sizing: content-box;
    border-radius: 10px;
}
.tip
{
    border-radius: 10px;
}
/*AUTH TUNE*/
.bl-social-auth__inner-list
{
    box-sizing: content-box;
}
/*VERTICAL CONTAINER tune*/
#global_page_group-profile-index.landing
{
    background-color: #f6f6f6;
}

body.landing .tab_layout_core_content
{
    display: none;
}

.layout_core_profile_vertical_container .profile_content_tab:nth-child(2n + 1):before,
.layout_core_profile_vertical_container_otvinta .profile_content_tab:nth-child(2n + 1):before
{
    background-color: #ebedee;
}
.layout_core_profile_vertical_container .obj-widget--header__wrapper
{
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    padding:0;
}
.layout_core_profile_vertical_container  .obj-widget--header__input
{
    display: none;
}
.layout_core_profile_vertical_container .obj-widget--header__row
{
    display:block;
}

.layout_core_profile_vertical_container  .obj-widget--header__h2
{
    color: #555;
    font-size: 30px;
}

.layout_core_profile_vertical_container .obj-widget--header__btn
{
    margin-top: 10px;
}


.browse-form-wrp
{
    background-color: #FFF;
}


.division_title
{
    color: #666;
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin: 12px 0 8px !important;
    text-transform: uppercase;
    opacity:1 !important;
    border-bottom: none;
    text-align: left !important;
}
.division_title:after, .layout_core_profile_vertical_container .obj-widget--header__row:after
{
    display:block;
    content: " ";
    background: #666 none repeat scroll 0 0;
    box-shadow: none !important;
    height: 5px;
    margin: 18px 0 20px;
    max-width: 100%;
    padding: 0;
    width: 80px;
    box-sizing: border-box;
}
.division_separator
{
    display:none;
}
.division_content
{
    padding-left:0;
}
.division_content .item_view:first-child
{
    margin-left:0 !important;
}


/*BUTTONS overwrite*/
/*abitu button standart*/
button, .button_link, .layout_page_group_landing_zftsh .full_olympic_classes li > a
{
    background-color: #3386c0;
    color: white;
    border: medium none;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-size: var(--mipt-font-size-base-plus);
    font-weight: 400;
    padding: .8em 1.0em;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    margin-bottom: 3px;
}
.button_link.yes, button.yes,.button_link.no, button.no
{
    color: white !important;
}


button:not(.no_abitu_style):hover, .button_link:hover, .layout_page_group_landing_zftsh .full_olympic_classes li > a:hover
{
    background-color: #2d75a8;
    color: white;
}
/*abitu button green*/
.button_link.save, button.save, .global_form #submit, .global_form .save[type="submit"]
{
    background-color: #6ab78a;
    box-shadow: 0 3px 0 0 #53ab77;
    color: white;
}

.button_link.save:hover, button.save:hover, button.save.pressed, .button_link.save.pressed, .global_form .save[type="submit"]:hover
{
    background-color: #55ad7a;
    box-shadow: 0 0 0 0 transparent;
    color: white;
}
/*abitu button red*/
.button_link.skip, button.skip, .button_link.next, button.next
{
    background-color: #df764e;
    box-shadow: 0 3px 0 0 #db6538;
    color: white;
}

.button_link.skip:hover, button.skip:hover, .button_link.next:hover, button.next:hover, button.next.pressed, button.skip.pressed, .button_link.next.pressed, .button_link.skip.pressed
{
    background-color: #da6234;
    box-shadow: 0 0 0 0 #da6234;
    color: white;
}


.ui-el__btn:not(._circle), .button_link {
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: none;
    border-radius: 50px
}

.ui-el__btn:hover {
    margin: 0
}

@media screen and (max-width:768px) {
    .ui-el__btn:not(._circle), .button_link {
        padding-left: 15px;
        padding-right: 15px;
        font-size: .9em
    }
}

.ui-el__btn._green {
    box-shadow: none
}

.ui-el__btn._green:hover {
    box-shadow: none;
    background: #53ab78
}

.ui-el__btn._blue {
    box-shadow: none
}

.ui-el__btn._blue:hover {
    box-shadow: none;
    background: #2A70A0
}

.ui-el__btn._yellow {
    background: #ff9919;
    box-shadow: none
}

.ui-el__btn._yellow:hover {
    box-shadow: none;
    background: #e1b84e
}


a.ui-widget__btn
{
    color:#FFF;
}
/*abitu button disabled*/

button:disabled
{
    border: none !important;
    background-color: #dadee0 !important;
    color: #707E85 !important;
    box-shadow: 0 3px 0 0 #c8ccce !important;
}
button:disabled:hover
{
    border: none !important;
    background-color: #dadee0 !important;
    color: #707E85 !important;
    transform: none !important;
    box-shadow: 0 3px 0 0 #c8ccce !important;
}
/*button stylizing when ajax*/
button.ajaxProcessing
{
    background-color: #44cc77 !important;
    color: #FFFFFF;
}
button.ajaxProcessing:hover
{
    background-color: #44cc77;
    opacity:0.9;
    color: #FFFFFF;
}
/*mce, tune searchbtn*/
.mce-btn button, .obj-widget--header__submit
{
    box-shadow: none;
}
.obj-widget--header__submit
{
    color:#3386c0;
}
.mce-btn button:hover, .obj-widget--header__submit:hover
{
    box-shadow: none;
    transform:none;
}
.xdsoft_prev, .xdsoft_next
{
    box-shadow: none;
}
/*BUTTONS end*/

/*HAXX container tabs, OVERWRITES BEGIN*/
.obj-main-tabs--content__wrapper
{
    padding: 0;
}

.layout_sites_zftsh_tabs .ui__btn.active{
    color: #555 !important;
}
.obj-widget--header__col:first-child
{
    margin-right: 25px;
}

.obj-main-tabs--controller__list
{
    justify-content: space-around;
}
.obj-main-tabs--controller__list > li
{
    flex-grow: 1;
    border-top: 1px solid #fafafa;
    max-width: 320px;
}
.obj-main-tabs--controller__list > li:first-child > a
{
    border-bottom-left-radius: 5px;
}
.obj-main-tabs--controller__list > li:last-child > a
{
    border-bottom-right-radius: 5px;
}
.obj-main-tabs--controller__list > li > a
{
    width: 100%;
}



.core_item_display_search_form
{
    margin-bottom: 0;
    max-width: 500px;
}
#global_page_course-topic-index .core_item_display_search_form
{
    max-width: none;
}
.core_item_display_search_form input:hover
{
    box-shadow: none;
}
.untitled > .core_item_display_search_form
{
    max-width: none;
}

.obj-widget--header__wrapper .back-to-main-list-link
{
    color:#FFF;
    opacity:0.7;
}
.obj-widget--header__wrapper .back-to-main-list-link:hover
{
    opacity:1;
}

.obj-main-tabs--controller__btn.ajaxProcessing
{
    background-color: #1d6598 !important;
}

.article_card
{
    border-left:1px solid #F1F2F3;
    border-top:1px solid #F1F2F3;
    border-right:1px solid #F1F2F3;
}

.profile_content_tab
{
    padding: var(--mipt-font-size-base-plus) 0;
}
/*.profile_content_tab div, .profile_content_tab span, .profile_content_tab td, .profile_content_tab p, .profile_content_tab h2, .profile_content_tab h3, .profile_content_tab h4
{
    color: #555;
}*/


/*
.profile_content_tab:before
{
    background-color: #E6E6E6;
    content: " ";
    height: 100%;
    margin-left: -5000px;
    margin-top: -25px;
    padding-bottom: 25px;
    padding-top: 25px;
    position: absolute;
    width: 10000px; 
    z-index: -1;
}*/
.layout_sites_zftsh_calendar
{
    padding-top: 25px;
}

/*.profile_content_tab *
{
    border-color: rgba(255,255,255,0.1) !important;
}*/
/*division about*/

.profile_content_tab .event_about .event_title{
    font-size: 18px;
    color: #1D84CC;
    text-transform: uppercase;
}

/*Котыли для размера*/
.profile_content_tab .event_about .event_highlight{
    color: #F69000 !important;
}

.profile_content_tab .event_join{
    width: 140px !important;
}
.profile_content_tab .event_about{
    width: calc(100% - 140px - 110px - 144px) !important;
}

.profile_content_tab .event_join .event_highlight{
    background: #F69000;
    color: #FFF;
    padding:10px;
    border-radius:5px;
}
/*event profile haxx*/
.event_banner
{
    display:none;
}
/*event list haxx*/
.event_row > a
{
    background-color: #DADADA;
    border-radius: 10px;
    border:2px solid gray;
}
/*discussions*/
.discussion
{
    border-width: 1px;
    background:#FFF;
    border-radius:5px 5px 10px 10px;
}
.discussion .textdisc{
    border:0;
}
.discussion .discinfo{
    border:0;
    background: #3386c0;
    border-radius:10px;
}

.core_item_display_search_form input[name=query]
{
    border-radius:5px;
}

.discussion .photo img
, .course_discussions_lastreply img, .course_discussions_thread_photo img
, .event_discussions_lastreply img, .event_discussions_thread_photo img
{
    border-radius: 50%;
}

ul.event_discussions_thread > li:nth-child(2n), ul.event_discussions > li:nth-child(2n),
ul.course_discussions_thread > li:nth-child(2n), ul.course_discussions > li:nth-child(2n)
{
    background: none;
}

ul.event_discussions_thread > li, ul.event_discussions > li, ul.course_discussions_thread > li, ul.course_discussions > li
{
    border-bottom: 1px dashed #CFCFCF;
}
/*membership widget*/
.ui-grid__row
{
    justify-content: space-around;
}
.zftsh_onepeople
{
    width: 155px;
    flex-grow: 1;
}
.zftsh_onepeople.noavatar
{
    max-width: 180px;
}
.zftsh_onepeople .ui-widget__block
{
    background-color: #FFF;
}
.members_popup
{
    background-color: #FBFBFB;
}
.members_popup_pointer, .members_popup_pointer_over
{
    color: #FBFBFB;
}
/*widgets*/
.ui-grid__row.video > div, .ui-grid__row.article > div
{
    flex-grow:1;
    flex-basis:250px;
    min-height: 240px;
    max-width: 400px;
}

.obj-olympic--wrapper__inner {
    background-color: #fafafa;
    border-radius: 4px;
    border-bottom: 3px solid #3386C0;
    padding: 20px 20px;
}

.obj-olympic--wrapper__header {
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.obj-olympic--header__badge._status {
    background-color: #3386C0;
    color: white;
    border-radius: 4px;
    border: none;
}
.obj-olympic--header__badge._status:hover
{
    border: none;
}
.obj-olympic--header__badge {
    background-color: #e6e6e6;
    color: #1a1a1a;
}

.obj-olympic--result:before {
    opacity: 0.8;
}

.obj-olympic--result:after {
    opacity: 0.8;
}

.obj-olympic--wrapper__header {
    border-radius: 4px;
}
.obj-olympic--header__base-info
{
    align-items:stretch;
}
.obj-olympic--header__base-info > div
{
    flex-grow:1;
    display:flex;
    align-items:center;
    margin-top:4px;
}
.obj-olympic--header__base-info > div > a, .obj-olympic--header__base-info > div > span
{
    flex-grow:1;
    text-align: center;
}

.obj-olympic--wrapper.extended > .obj-olympic--wrapper__inner > .obj-olympic--wrapper__header
{
    background-color: #f6f1e7;
}


.obj-footer__flex-item.col-orphography, .obj-footer__flex-item.col-orphography div
{
    color: #eee;
}

.ui-grid__row.album .ui-widget__header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.ui-grid__row.album > div
{
    flex-basis: 210px;
}
.show_on_map
{
    margin-right: 15px;
}
.division_view.event .view_more
{
    margin-right: 10px;
}
.ui-grid__row.group .ui-widget__block
{
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}
@media (max-width: 840px)
{
    .ui-widget__col._img
    {
        flex-grow: 1;
    }
}
#olympic_user_file_container > a.button_link
{
    font-size: 18px;
    color: white !important;
}
/*COURSE*/
.course_banner{
    display: none;
}

.bl-card-horisontal__item, .bl-card-vertical__item-inner
{
    background-color: #FFF;
    border-radius: 5px;
    border-bottom-right-radius: 10px;
}

.bl-card-horisontal__item.non-published
{
    opacity: 0.6;
}
.bl-card-horisontal__item .non-published-notice
{
    display: inline-block;
    color:red;
    font-weight: bold;
    margin-bottom: 1em;
}

/**/
.layout_page_user_profile_index .layout_right
{
    display: none;
}

.layout_page_user_profile_index .layout_middle
{
    display: block;
    width:auto;
    max-width:none;
}

/*viewmore/less btn overload*/
.extended_view_more, .extended_view_less
{
    display:inline-block;
    border-radius:50%;
    width:30px;
    height:30px;
    border: none;
    background-size:100%;
    transition: all 350ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
    background-repeat: no-repeat;
    background-color: #0069b4;
}
.extended_view_more
{
    background-image: url(/public/admin/tmpicons/expand-white.png);
    background-position: 0 4px;
}
.extended_view_less
{
    background-image: url(/public/admin/tmpicons/collapse-white.png);
}
.extended_view_more:hover, .extended_view_less:hover
{
    box-shadow: 0 0 0 0 transparent !important;
    margin-top: 4px;
    margin-bottom: -4px;
}

/*video-smoothbox*/
#smoothbox_window .layout_page_video_index_view
{
    padding: 25px;
}
/*HAXX END*/


/* FOOTER BEGIN */
#global_footer
{
    background: #0069B4;
    background: rgba(0,0,0,0) linear-gradient(to right, #0069B4 0%, #004B81 100%) repeat scroll 0 0;
}


#global_footer span
{
    color: #d6d5d5;
}

.obj-footer__copyright-string
{
    opacity: 0.5;
}

#global_footer a
{
    text-decoration: none;
    color: #eee;
    text-transform: uppercase;
}
#global_footer a:hover
{
    color: #fff;
}

.obj-footer__language-string span, .obj-footer__language-btn span
{
    display: none;
}
/* FOOTER END */





.loginModal .obj-login-modal__header
{
    display:none;
}

.layout_event_profile_status
{
    margin-bottom: 25px;
}

.obj-footer__flex-item.col-menu b
{
    color: #FFF;
    opacity: 0.7;
    vertical-align: top;
}

#contact-form #submit:first-child::before
{
    content: "";
}


/*ENTRANCE OLYMPIC TABS*/
.layout_page_group_landing_zftsh .full_olympic_classes ul
{
    border-bottom: 1px solid rgba(51, 134, 192, 0.5);
    background-color: #F5F5F5;
}
.layout_page_group_landing_zftsh .full_olympic_classes li > a
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
    font-weight: bold;
}
.layout_page_group_landing_zftsh .full_olympic_classes li.active > a
{
    background-color: #6ab78a;
}




/* Кнопки */
body .ui__btn, .ui__tab{
    text-transform: uppercase;
    color: #FAFAFA;
    background-color: #0069B4;
    display: inline-block;
    vertical-align: top;
    padding: 12px 25px;
    text-align: center;
    border-radius: 4px;
    border:none;
    box-shadow: 0 4px 0 0 #333;
    font-size: var(--mipt-font-size-base-plus);
    transition: all 0.5s ease;
}

body .ui__btn:hover, .ui__tab:hover {
    box-shadow: 0 0 0 0 transparent !important;
    margin-top: 4px;
    margin-bottom: -4px;
}

.ui__btn.bg-steelblue {box-shadow: 0 4px 0 0 #2A70A0; background-color: #3386C0;}
.ui__btn.bg-blue {box-shadow: 0 4px 0 0 #005694; background-color: #0069b4;} /*#DFF2FF;}*/
.ui__btn.bg-green {box-shadow: 0 4px 0 0 #65ae83; background-color: #6ab78a;}
.ui__btn.bg-red {box-shadow: 0 4px 0 0 #d8734c; background-color: #df764e;}


.ui__btn.bg-yellow {box-shadow: 0 4px 0 0 #d4ae49; background-color: #e0b84e;}
.ui__btn.bg-lightblue {box-shadow: 0 4px 0 0 #0064AC; background-color: #0077CC;}
.ui__btn.bg-darkblue {box-shadow: 0 4px 0 0 #003861; background-color: #004B81;}


.layout_sites_zftsh_members .obj-widget--header__col
{
    margin-right: 5px;
    flex-grow: 1;
    margin-top:5px;
}

.academy_title
{
    display: none;
}


/*side gradient fix course profile*/
#structure_content .obj-main-tabs--layout__wrapper:after,
#structure_content .obj-main-tabs--layout__wrapper:before
{
    background-color: #EBEDEE;
    position: absolute;
    content: " ";
    height: 100%;
    top: 32px;
    bottom: -10px;
    z-index: -1;
}

#structure_content .obj-main-tabs--layout__wrapper:after {
    left: -25px;
    right: 0;
    border-left: 25px solid;
    border-image: linear-gradient(to left, #EBEDEE, #FFF) 1 100%;
    width: initial;
}

#structure_content .obj-main-tabs--layout__wrapper:before {
    left: 0;
    right: -25px;
    border-right: 25px solid;
    border-image: linear-gradient(to right, #EBEDEE, #FFF) 1 100%;
}

@media print {
    #structure_content .obj-main-tabs--layout__wrapper:after,
    #structure_content .obj-main-tabs--layout__wrapper:before
    {
        display: none;
    }
}